.main_container{
    width: 80%;
    display: grid;
    margin:  auto  ;
    height: 90vh;
    background: #4FF532;
}
.main_container2{
    width: 100%;
}
.menu{
    display: none;
}

.main_border{
    background: transparent;
    display: grid;
    grid-template-columns: 30% 69%;
    /*background: #21A6FA;*/
    width: 80%;
    justify-content: space-between;
}
.container{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-rows: 58% 41%;
    align-content: space-between;
}

/*.container{*/
/*    display: none;*/
/*}*/
@media screen and (max-width: 1700px){

}
@media screen and (max-width: 1400px){
    .main_container{
        width: 80%;

    }
}
@media screen and (max-width: 1300px){
    .main_container{
        width: 90%;
    }
}
@media screen and (max-width: 1100px){
    .main_container{
        width: 95%;
    }
    .main_border{
        width: 90%;
        grid-template-columns: 35% 64%;
    }
}
@media screen and (max-width: 900px){
    .main_container{
        width: 95%;
    }
    .main_border{
        width: 95%;
        grid-template-columns: 40% 59%;
    }
    .menu{
            /*height: 68px;*/
            border: 1px solid #4F5C67;
            box-sizing: border-box;
            border-radius: 6px;
            display: grid;
            grid-template-columns:  1fr 1fr 1fr;
            margin: 2px;
            padding: 5px;

        }

}
@media screen and (max-width: 750px){
    .main_container{
        width: 100%;
        /*height: 100%;*/
        height: 100vh;
        background: #012E54;
        margin: 0;
        padding: 0;
       display: table;
    }
    .main_border{
        display: flex;
        flex-flow: column;
        width: 100%;
        /*height: 100%;*/
        height: 100vh;
        background: #012E54;
        margin: 0;
        padding: 0;
        /*display: table;*/
    }
    .fullScreen{
        background-color: #21A6FA;
        font-size: 400px;
        width: 100%;
        height: 100%;
    }
    /*.container{*/
    /*    display: flex;*/
    /*    flex-flow: column;*/
    /*    margin-top: 45px;*/
    /*}*/
    .btn{
        width: 55%;
        height: 40px;
        background: #7CDE00;
        border-radius: 5px;
        font-family: WeblySleek UI, serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #095D35;
        margin: -40px auto 19px;
        border: transparent;
        cursor: pointer;
    }
    /*.menu{*/
    /*    !*height: 68px;*!*/
    /*    border: 1px solid #4F5C67;*/
    /*    box-sizing: border-box;*/
    /*    border-radius: 6px;*/
    /*    display: grid;*/
    /*    grid-template-columns:  1fr 1fr 1fr;*/
    /*    margin: 2px;*/
    /*    padding: 5px;*/

    /*}*/
}
@media screen and (max-width: 480px){
    .main_container{
        width: 100%;
        /*background: #012E54;*/
        margin: 0;
        /*height: 100%;*/
        /*height: 100vh;*/
        /*height: auto;*/
        /*background-color: #21A6FA;*/
        padding: 0;
        display: flex;
        flex-flow: column;


    }
    .main_border{
        display: flex;
        flex-flow: column;
        height: 100%;
        justify-content: space-between; width: 100%;
        /*background: #012E54;*/
        margin: 0;
        /*height: 100%;*/
        /*height: 100vh;*/
        /*height: auto;*/
        /*background-color: #21A6FA;*/
        padding: 0;
        /*display: flex;*/
        /*flex-flow: column;*/
    }
    }
    /*.container{*/
    /*    display: flex;*/
    /*    flex-flow: column;*/
    /*    margin-top: 45px;*/
    /*}*/
    .btn{
        width: 55%;
        height: 40px;
        background: #7CDE00;
        border-radius: 5px;
        font-family: WeblySleek UI, serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 27px;
        color: #095D35;
        margin: 0 auto 19px;
        border: transparent;
        cursor: pointer;
    }
    /*.menu{*/
    /*    border: 1px solid #4F5C67;*/
    /*    box-sizing: border-box;*/
    /*    border-radius: 6px;*/
    /*    display: grid;*/
    /*    !*background-color: #21A6FA;*!*/
    /*    !*height: 100%;*!*/
    /*    grid-template-columns:  1fr 1fr 1fr;*/
    /*    margin: 3px;*/
    /*    padding: 5px;*/
    /*}*/
/*}*/
@media only screen and (max-width: 1300px) and (orientation: landscape){
    .main_container{
        width: 100%;
        margin: 0;
        /*height: 100vh;*/
        background: #4FF532;


        /*grid-gap: 2px;*/
    }
    .main_border{
        display: grid;
        grid-template-columns: 30% 62% 7%;
        /*height: 100vh;*/
        grid-gap: 0;
        /*padding: 2px;*/
        /*margin: 4px;*/
        /*background: #AAAAAA;*/
        margin: 0;
        justify-content: space-between;
        /*height: 100%;*/
    }
    /*.container{*/
    /*    display: flex;*/
    /*    flex-flow: column;*/
    /*    margin: 0;*/
    /*}*/
    .btn{
        display: none;
    }
    .menu{
        display: flex;
        flex-flow: column;
        /*height: 100vh;*/
        /*height: 100%;*/
        width: 100%;
        height: 90vh;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
        border: 1px solid #4F5C67;
        box-sizing: border-box;
        border-radius: 6px;

    }
}